<!--
    날짜: 2023/02/08
    이름: 이해빈
    내용: 마이페이지 home html 작업
-->
<!-- 2023/02/20 // 심규영 // 마이페이지 헤더,푸터 등등 중복 처리 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <th:block th:replace="~{fragment/head_fragment::basicHead}"></th:block>
    <link rel="stylesheet" href="../css/my.css">
    <script th:src="@{/js/my/coupon.js}"></script>
</head>
<body>
    <div id="wrapper">
        <header th:replace="~{fragment/header_fragment::myHeader}"></header>
        <div id="my">
            <nav th:replace="~{fragment/my_fragment::my_nav}"></nav>

            <div class="coupon">
                <ul th:replace="~{fragment/my_fragment::menu_else}"></ul>

                <section>
                    <a href="#"><img src="../img/my_banner2.png" alt="패션, 타운 하나로 끝" class="banner"></a>
                    <article>
                        <h3>쿠폰</h3>
                        <p>고객님께서 보유하고 있는 할인쿠폰을 확인하세요! 상품구매 시 더욱 저렴하게 구매할 수 있습니다.</p>
                        
                        <div class="bg">
                            <dl>
                                <dt>· 나의 보유쿠폰</dt>
                                <dd>
                                    <strong>[[${count}]]</strong>
                                    <span>장</span>
                                </dd>
                            </dl>
                        </div>

                        <table border="0">
                            <tr>
                                <th>쿠폰명</th>
                                <th>할인금액</th>
                                <th>적용기준/제한조건</th>
                                <th>유효기간</th>
                                <th>상태</th>
                            </tr>
                            <tr th:each="coupon, i:${coupons}">
                                <td class="tit">[[${coupon.couponName}]]</td>
                                <td class="discount"><span>[[${#numbers.formatInteger(coupon.couponDisprice, 1, 'COMMA')}]]</span>원</td>
                                <td class="condition"><span>[[${#numbers.formatInteger(coupon.couponUsePriceCondition, 1, 'COMMA')}]]</span>원 이상 구매시</td>
                                <td class="expire" th:attr="data-edate=${coupon.couponEdate}">~ [[${coupon.couponEdate.substring(5,7) + '/' + coupon.couponEdate.substring(8,10)}]]</td>
                                <td class="status" th:attr="data-status=${coupon.couponStatus}"></td>
                            </tr>
                            <tr th:if="${coupons.size == 0}">
                                <td colspan="5" align="center">보유중인 쿠폰이 없습니다. </td>
                            </tr>
                        </table>
                        
                        <ul class="info">
                            <li>순금/골드바/돌반지/상품권 등 환금성 카테고리 및 중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.</li>
                            <li>쿠폰 적용 가능한 금액기준은 판매자 상품별할인과 G마켓 추가할인이 모두 포함된 할인적용가입니다.</li>
                            <li>중복쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의 상품당 한장의 중복쿠폰만 사용 가능합니다.</li>
                            <li>항공 할인은 항공권 전용 할인으로 결제시점에 할인 혜택을 받을 수 있습니다.</li>
                            <li>항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회 한하여 다시 발급됩니다.</li>
                        </ul>                        
                    </article>
                </section>

            </div>
        </div>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
    </div>    
</body>
</html>