<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <th:block th:replace="~{fragment/head_fragment::basicHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/zipcode.js}"></script>
    <script th:src="@{/js/my/info.js}"></script>
</head>
<body>
    <div id="wrapper">
        <header th:replace="~{fragment/header_fragment::myHeader}"></header>
        <div id="my">
            <nav th:replace="~{fragment/my_fragment::my_nav}"></nav>

            <div class="info">
                <ul th:replace="~{fragment/my_fragment::menu_else}"></ul>

                <section>
                    <a href="#"><img src="../img/my_banner2.png" alt="패션, 타운 하나로 끝" class="banner"></a>
                    <article>
                        <h3>회원정보 설정</h3>

                        <table border="0">
                            <tr>
                                <td>사용자 ID</td>
                                <td>[[${member.uid.substring(0,3) + '*' * (member.uid.length()-3)}]]</td>
                                <input type="hidden" name="uid" th:value="${member.uid}">
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td>
                                    <button id="btnChangePass">비밀번호 수정</button>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td>[[${member.name.substring(0,1)+ '*' * (member.name.length()-2) +member.name.substring(member.name.length() - 1)}]]</td>
                            </tr>
                            <!-- 생년월일이 회원정보에 존재하지 않아서 주석처리함
                            <tr>
                                <td>생년월일</td>
                                <td>1983년 05월 03일</td>
                            </tr>
                            -->
                            <tr>
                                <td>E-mail</td>
                                <td>
                                    <input type="text" name="email1" th:value="${member.email.substring(0, member.email.indexOf('@'))}" readonly>@
                                    <input type="text" name="email2" th:value="${member.email.substring(member.email.indexOf('@')+1)}" readonly>
                                    <select id="domain">
                                        <option>직접입력</option>
                                        <option>naver.com</option>
                                        <option>daum.net</option>
                                        <option>gmail.com</option>
                                        <option>nate.com</option>
                                        <option>outlook.com</option>
                                    </select>
                                    <button id="btnChangeEmail">수정하기</button>
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <p class="hp">
                                        <input type="text" name="hp1" th:value="${member.hp.substring(0,3)}" readonly/>-
                                        <input type="text" name="hp2" th:value="${member.hp.substring(4,8)}" readonly/>-
                                        <input type="text" name="hp3" th:value="${member.hp.substring(9,13)}" readonly/>
                                        <button id="btnChangeHp">수정하기</button>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input type="text" name="zip" id="zip" th:value="${member.zip}" readonly/>
                                    <button id="btnFindZip" onclick="zipcode()">주소검색</button>
                                    <p class="address">
                                        <input type="text" name="addr1" id="addr1" th:value="${member.addr1}" readonly/>
                                        <input type="text" name="addr2" id="addr2" th:value="${member.addr2}" />
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>회원탈퇴</td>
                                <td>
                                    <button id="btnWithdraw">탈퇴하기</button>
                                </td>
                            </tr>
                        </table>
                        <button id="btnInfoChange">수정하기</button>
                    </article>
                </section>

            </div>
        </div>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
    </div>    
</body>
</html>