<!--
    날짜: 2023/02/08
    이름: 이해빈
    내용: 마이페이지 home html 작업
-->
<!-- 2023/02/20 // 심규영 // 마이페이지 헤더,푸터 등등 중복 처리 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <th:block th:replace="~{fragment/head_fragment::basicHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
    <div id="wrapper">
        <header th:replace="~{fragment/header_fragment::myHeader}"></header>
        <div id="my">
            <nav th:replace="~{fragment/my_fragment::my_nav}"></nav>

            <div class="ordered">
                <ul th:replace="~{fragment/my_fragment::menu_else}"></ul>

                <section>
                    <a href="#"><img src="../img/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>
                    <article>
                        <h3>전체주문내역</h3>

                        <div class="byDate">
                            <span class="tit">기간별조회</span>                            
                            <ul class="date_3ea">
                                <li><a th:href="@{/my/ordered(date='week')}" th:classappend="${date == 'week' ? 'on' : ''}"><em>1</em>주일</a></li>
                                <li><a th:href="@{/my/ordered(date='halfMonth')}" th:classappend="${date == 'halfMonth' ? 'on' : ''}"><em>15</em>일</a></li>
                                <li><a th:href="@{/my/ordered(date='month')}" th:classappend="${date == 'month' ? 'on' : ''}"><em>1</em>개월</a></li>
                            </ul>
                            <ul class="date_5ea">
                                <li th:each="num, i:${#numbers.sequence(month-4, month)}">
                                    <th:block th:if="${num <= 0}">
                                        <a th:href="@{/my/ordered(date=${monthNames[num+2]})}" th:classappend="${date == monthNames[num+2]} ? 'on' : ''"><em>[[${num+12}]]</em>월</a>
                                    </th:block>
                                    <th:block th:if="${num > 0} and ${num > 12}">
                                        <a th:href="@{/my/ordered(date=${monthNames[num+2]})}" th:classappend="${date == monthNames[num+2]} ? 'on' : ''"><em>[[${num}]]</em>월</a>
                                    </th:block>
                                    <th:block th:if="${num > 0} and ${num <= 12}">
                                        <a th:href="@{/my/ordered(date=${monthNames[num+2]})}" th:classappend="${date == monthNames[num+2]} ? 'on' : ''"><em>[[${num}]]</em>월</a>
                                    </th:block>
                                </li>
                            </ul>
                            <p>
                                <input type="date" name="begin"><span>~</span><input type="date" name="end">
                            </p>
                            <button class="btnConfirm">조회하기</button>
                        </div>

                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr th:each="orderVO:${orderVOs}">
                                <td class="date" th:text="${#strings.substring(orderVO.ordDate,0,11)}"></td>

                                <td class="info">
                                    <a href="#" class="thumb"><img th:src="|@{/}thumb/${orderVO.prodCate1}/${orderVO.prodCate2}/${orderVO.thumb1}|" alt="thumb1" style="width: 80px;"></a>
                                    <ul>
                                        <li class="productSellerUid" style="display: none;" th:text="${orderVO.uid}"></li>
                                        <li class="company"><a href="#" th:text="${orderVO.company}">상호명</a></li>
                                        <li class="prodName"><a href="#" th:text="${orderVO.prodName}">상품명</a></li>
                                        <li class="orderNo">수량 : <span class="prodCount" th:text="${orderVO.count}"></span>개 / 주문번호 : <a href="#" th:text="${orderVO.ordNo}"></a></li>
                                        <li class="prodPrice" th:text="${#numbers.formatInteger(orderVO.total, 1, 'COMMA')}"></li>
                                    </ul>
                                </td>

                                <td class="status" th:if="${orderVO.ordComplete == 1}">확인중</td>
                                <td class="status" th:if="${orderVO.ordComplete == 2}">배송중</td>
                                <td class="status" th:if="${orderVO.ordComplete == 3}">배송완료</td>
                                <td class="status" th:if="${orderVO.ordComplete == 4}">기타</td>
                                <td class="status" th:if="${orderVO.ordComplete == 5}">상품 구매 확정</td>

                                <td class="confirm">
                                    <a href="#" class="receive">수취확인</a>
                                    <a href="#" class="review">상품평</a>
                                    <a href="#" class="refund">반품신청</a>
                                    <a href="#" class="exchange">교환신청</a>
                                </td>
                            </tr>
                            <tr th:if="${orderVOs.size() == 0}">
                                <td colspan="4">주문내역이 없습니다.</td>
                            </tr>
                        </table>
                        <section th:replace="~{fragment/paging_fragment::myOrderedPaging}"></section>
                    </article>
                </section>
            </div>
        </div>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
    </div>    
</body>
</html>