<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/notice/view.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_cs_header}"></th:block>
<section id="cs">
    <div class="notice">
        <nav>
            <div>
                <p>홈<span>></span>공지사항</p>
            </div>
        </nav>
        <section class="view">
            <aside>
                <h2>공지사항</h2>
                <ul>
                    <li th:classappend="${cate1 == null || cate1 == '%%'} ? 'on' : 'off'"><a th:href="@{/cs/notice/list}">전체</a></li>
                    <li th:classappend="${cate1 == '10'} ? 'on' : 'off'"><a th:href="@{/cs/notice/list?noCate=10}">고객서비스</a></li>
                    <li th:classappend="${cate1 == '11'} ? 'on' : 'off'"><a th:href="@{/cs/notice/list?noCate=11}">안전거래</a></li>
                    <li th:classappend="${cate1 == '12'} ? 'on' : 'off'"><a th:href="@{/cs/notice/list?noCate=12}">위해상품</a></li>
                    <li th:classappend="${cate1 == '13'} ? 'on' : 'off'"><a th:href="@{/cs/notice/list?noCate=13}">이벤트당첨</a></li>
                </ul>
            </aside>

            <article>
                <nav>
                    <h2 class="title">[[${vo.noticeTitle}]]</h2>
                    <span class="date">[[${vo.noticeRdate}]]</span>
                </nav>

                <div class="content">
                    <p>
                        [[${vo.noticeContent}]]
                    </p>
                    <p>
                        ※ 피싱 관련 피해신고<br /><br />
                        ▶ 경찰청 사이버수사국 (국번없이)182 :
                        http://cyberbureau.police.go.kr<br />
                        ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                        http://www.krcert.or.kr<br />
                        감사합니다.<br />
                    </p>
                </div>
                <a th:href="@{/cs/notice/list(noCate=${cate1})}" class="btnList">목록보기</a>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_cs_footer}"/>