<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{member/_header}"></th:block>
    <main id="member">
        <div class="login">
            <nav>
                <h1>로그인</h1>
            </nav>
            <form action="#" method="post">
                <table border="0">
                    <tr>
                        <td>아이디</td>
                        <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td><input type="password" name="pass" placeholder="비밀번호 입력"></td>
                    </tr>
                </table>
                <input type="submit" value="로그인"/>
                <span>
                    <label><input type="checkbox" name="remember-me">자동 로그인</label>
                    <a th:href="@{/member/search_id}">아이디 찾기</a>
                    <a th:href="@{/member/search_pw}">비밀번호 찾기</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </span>
                <a href="#" class="banner"><img th:src="@{/img/member_login_banner.jpg}" alt="1만원 할인 쿠폰 받기"></a>
            </form>
            <img th:src="@{/img/member_certifi_logo.gif}" alt="banner">
        </div>
    </main>
<th:block th:replace="~{member/_footer}"></th:block>