<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{member/_header}"></th:block>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/zipcode.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <main id="member">
            <div class="register">
                <nav>
                    <h1>일반 회원가입</h1>
                </nav>
				<form th:action="@{/member/register}" method="POST">
					<section>
						<table>
							<caption>필수 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>아이디</th>
								<td><input type="text" name="uid" placeholder="아이디를 입력"
									required />
									<!--<button type="button" id="btnCheckUid"><img th:src="@{/img/admin_ico_success.png}" alt="중복확인"></button>-->
									<span class="msgId">영문, 숫자로 4~12자까지 설정해 주세요.</span>
									<span class="uidResult"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호</th>
								<td>
									<input type="password" name="pass1" placeholder="비밀번호를 입력" required />
									<span class="msgPass1">영문, 숫자, 특수문자를 조합하여 8~12자까지 설정해 주세요.</span>
									<span class="passResult1"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>비밀번호확인</th>
								<td>
									<input type="password" name="pass2" placeholder="비밀번호를 확인" required />
									<span class="msgPass2">영문, 숫자, 특수문자를 조합하여 8~12자까지 설정해 주세요.</span>
									<span class="passResult2"></span>
								</td>
							</tr>
						</table>
					</section>
					<section>
						<table>
							<caption>기본 정보입력</caption>
							<tr>
								<th><span class="essential">*</span>이름</th>
								<td><input type="text" name="name" placeholder="이름을 입력"
									required />
									<span class="nameResult"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>성별</th>
								<td>
									<label><input type="radio" name="gender" value="1">&nbsp남</label>
									<label><input type="radio" name="gender" value="2">&nbsp여</label>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>EMAIL</th>
								<td><input type="email" name="email" placeholder="이메일 입력"
									required />
									<span class="emailResult"></span>
								</td>
							</tr>
							<tr>
								<th><span class="essential">*</span>휴대폰</th>
								<td>
									<input type="text" name="hp" maxlength="13"
									placeholder="휴대폰번호 입력" required /> <span class="msgHp"> -
										포함 13자리를 입력하세요.</span>
									<span class="hpResult"></span>
								</td>
							</tr>
							<tr class="addr">
								<th>주소</th>
								<td>
									<div>
										<input type="text" name="zip" id="zip" onclick="zipcode()" placeholder="우편번호 입력 클릭"
											readonly />
									</div>
									<div>
										<input type="text" name="addr1" id="addr1" size="50"
											placeholder="주소를 검색하세요." readonly />
									</div>
									<div>
										<input type="text" name="addr2" id="addr2" size="50"
											placeholder="상세주소를 입력하세요." />
									</div>
								</td>
							</tr>
						</table>
		
					</section>
					<div>
						<input type="submit" class="join" value="회원가입" />
					</div>
				</form>
            </div>
        </main>
<th:block th:replace="~{member/_footer}"></th:block>