<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{member/_header}"></th:block>
    <main id="member">
        <div class="login">
            <nav>
                <h1>비밀번호찾기</h1>
            </nav>
            <form th:action="@{/member/search_pw}" method="post" id="searchpw">
                <table border="0">
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="text" name="email" id="email" placeholder="이메일 입력">
                        </td>
                    </tr>
                </table>
                <input type="button" value="ok" id="ok"/>
                <span>
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/search_id}">아이디 찾기</a>
                    <a th:href="@{/member/join}">회원가입</a>
                    <a th:href="@{/member/login}">취소</a>
                </span>
            </form>
        </div>
    </main>
<th:block th:replace="~{member/_footer}"></th:block>