<!--
    날짜: 2023/02/07
    이름: 이해빈
    내용: 상품 목록(list) html 작업
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/head_fragment::productHead}"></th:block>
<body>
    <div id="wrapper">
        <th:block th:replace="~{fragment/header_fragment::mainHeader}"></th:block>
        <main id="product">
            <th:block th:replace="~{fragment/aside_fragment::productAside}"></th:block>

            <section class="list">
                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>상품목록</h1>
                    <p th:if="${cate1 != 0}">HOME > <span>[[${cateName.c1Name}]]</span> <strong th:if="${cate2 != 0}">> [[${cateName.c2Name}]]</strong></p>
                </nav>

                <!-- 정렬 메뉴 -->
                <ul class="sort">
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=sold,search=${search})}" th:class="${sort eq 'sold'?'on':'off'}">판매많은순</a></li>
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=lowprice,search=${search})}" th:class="${sort eq 'lowprice'?'on':'off'}">낮은가격순</a></li>
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=highprice,search=${search})}" th:class="${sort eq 'highprice'?'on':'off'}">높은가격순</a></li>
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=score,search=${search})}" th:class="${sort eq 'score'?'on':'off'}">평점높은순</a></li>
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=review,search=${search})}" th:class="${sort eq 'review'?'on':'off'}">후기많은순</a></li>
                    <li><a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=rdate,search=${search})}" th:class="${sort eq 'rdate'?'on':'off'}">최근등록순</a></li>
                </ul>

                <!-- 상품목록 -->
                <table border="0">
                    <tr th:each="product, i:${products}">
                        <td><a th:href="@{/product/view(cate1=${cate1},cate2=${cate2},prodNo=${product.prodNo})}" class="thumb"><img th:src="|@{/}thumb/${product.prodCate1}/${product.prodCate2}/${product.thumb1}|" alt="상품이미지"></a></td>
                        <td>
                            <h3 class="name">[[${product.prodName}]]</h3>
                            <a th:href="@{/product/view(cate1=${cate1},cate2=${cate2},prodNo=${product.prodNo})}" class="desc">[[${product.descript}]]</a>
                        </td>
                        <td>
                            <ul>
                                <li><ins class="dis-price">[[${#numbers.formatInteger((product.price * (1 - product.discount / 100.0)), 3, 'COMMA')}]]</ins></li>
                                <li>
                                    <del class="org-price">[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                                    <span class="discount">[[${product.discount}]]%</span>
                                </li>
                                <th:block th:if="${product.delivery eq 0}">
                                    <li><span class="free-delivery">무료배송</span></li>
                                </th:block>
                                <th:block th:if="${product.delivery > 0}">
                                    <li><span>배송비 </span>[[${#numbers.formatInteger(product.delivery, 1, 'COMMA')+'원'}]]</li>
                                </th:block>
                            </ul>
                        </td>
                        <td>
                            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.seller}]]</h4>
                            <h5 class="badge power">판매자등급</h5>
                            <h6 th:class="'rating star'+${product.score}">상품평</h6>
                        </td>
                    </tr>
                </table>

                <!-- 상품목록 페이지번호 -->
                <div class="paging">
                    <th:block th:if="${pageGroup[0]>1}">
                        <span class="prev">
                            <a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=${sort},pg=${pageGroup[0]-1},search=${search})}"><&nbsp;이전</a>
                        </span>
                    </th:block>
                    <span class="num">
                        <th:block th:each="num:${#numbers.sequence(pageGroup[0], pageGroup[1])}">
                            <a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=${sort},pg=${num},search=${search})}"
                               th:class="${num == currentPage ? 'on':'off'}">[[${num}]]</a>
                        </th:block>
                    </span>
                    <th:block th:if="${pageGroup[1]<lastPageNum}">
                        <span class="next">
                            <a th:href="@{/product/list(cate1=${cate1},cate2=${cate2},sort=${sort},pg=${pageGroup[1]+1},search=${search})}">다음&nbsp;></a>
                        </span>
                    </th:block>
                </div>

            </section>
        </main>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
        <th:block th:replace="~{fragment/main_fragment::scrollToTop}"></th:block>
    </div>
</body>
</html>