<!--
    날짜: 2023/02/07
    이름: 이해빈
    내용: 상품 주문(order) html 작업
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/head_fragment::productHead}"></th:block>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/zipcode.js}"></script>
<script th:src="@{/js/product/order.js}"></script>
<script th:inline = "javascript">
    const memberPoint = [[${member.point}]];
</script>
<body>
    <div id="wrapper">
        <th:block th:replace="~{fragment/header_fragment::mainHeader}"></th:block>
        <main id="product">
            <th:block th:replace="~{fragment/aside_fragment::productAside}"></th:block>

            <!-- 주문 페이지 시작 -->
            <section class="order">

                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>주문결제</h1>
                    <p>
                        HOME > 장바구니 > <strong>주문결제</strong>
                    </p>
                </nav>

                <form action="#">
                    <!-- 주문 상품 목록 -->
                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="all"></th>
                                <th>상품명</th>
                                <th>수량</th>
                                <th>판매가</th>
                                <th>할인</th>
                                <th>포인트</th>
                                <th>배송비</th>
                                <th>총합</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="empty" style="display:none;">
                                <td colspan="7">장바구니에 상품이 없습니다.</td>
                            </tr>
                            <tr th:each="cdto : ${cdtos}">
                                <td><input type="checkbox" name="chk" th:value="${cdto.cartNo}" th:attr="data-prodNo=${cdto.prodNo}"></td>
                                <td>
                                    <article>
                                        <a th:href="@{/product/view(cate1=${cdto.prodCate1},cate2=${cdto.prodCate2},prodNo=${cdto.prodNo})}"><img th:src="|@{/}thumb/${cdto.prodCate1}/${cdto.prodCate2}/${cdto.thumb1}|" alt=""></a>
                                        <div>
                                            <h2><a th:href="@{/product/view(cate1=${cdto.prodCate1},cate2=${cdto.prodCate2},prodNo=${cdto.prodNo})}">[[${cdto.prodName}]]</a></h2>
                                            <p>[[${cdto.descript}]]</p>
                                        </div>
                                    </article>
                                </td>
                                <td>[[${cdto.count}]]</td>
                                <td>[[${#numbers.formatInteger(cdto.price * cdto.count, 1, 'COMMA')}]]</td>
                                <td>[[${cdto.discount}]]%</td>
                                <td>[[${#numbers.formatInteger(cdto.point * cdto.count , 1, 'COMMA')}]]</td>
                                <td th:if="${cdto.delivery ne 0}">[[${#numbers.formatInteger(cdto.delivery, 1, 'COMMA')}]]</td>
                                <td th:if="${cdto.delivery eq 0}">무료배송</td>
                                <td>[[${#numbers.formatInteger((cdto.price * cdto.count * (1 - cdto.discount / 100.0) + cdto.delivery), 1, 'COMMA')}]]</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 최종 결제 정보 -->
                    <div class="final">
                        <h2>최종결제 정보</h2>
                        <table border="0">
                            <tr>
                                <td>상품수</td>
                                <td>0건</td>
                            </tr>
                            <tr>
                                <td>상품금액</td>
                                <td>0원</td>
                            </tr>
                            <tr>
                                <td>할인금액</td>
                                <td>-0원</td>
                            </tr>
                            <tr>
                                <td>배송비</td>
                                <td>0원</td>
                            </tr>
                            <tr>
                                <td>포인트 할인</td>
                                <td>-0원</td>
                            </tr>
                            <tr>
                                <td>전체주문금액</td>
                                <td>0원</td>
                            </tr>
                            <tr>
                                <td>적립 포인트</td>
                                <td>0점</td>
                            </tr>
                        </table>
                        <input type="button" id="payment" value="결제하기">
                    </div>

                    <!-- 배송정보 -->
                    <article class="delivery">
                        <h1>배송정보</h1>
                        <table>
                            <tr>
                                <td>수령자</td>
                                <td><input type="text" name="orderer" th:value="${member.name}"></td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <input type="text" name="hp" th:value="${member.hp}"/>
                                    <span>- 포함 입력</span>
                                </td>
                            </tr>
                            <tr>
                                <td>우편번호</td>
                                <td>
                                    <input type="text" name="zip" id="zip" th:value="${member.zip}" readonly/>
                                    <input type="button" value="검색" onclick="zipcode()"/>
                                </td>
                            </tr>
                            <tr>
                                <td>기본주소</td>
                                <td>
                                    <input type="text" name="addr1" id="addr1" th:value="${member.addr1}" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td>상세주소</td>
                                <td>
                                    <input type="text" name="addr2" id="addr2" th:value="${member.addr2}"/>
                                </td>
                            </tr>
                        </table>
                    </article>

                    <!-- 할인정보 -->
                    <article class="discount">
                        <h1>할인정보</h1>
      
                        <div>
                            <p>현재 포인트 : <span>[[${#numbers.formatInteger(member.point, 1, 'COMMA')}]]</span>점</p>
                            <label>
                                <input type="text" name="point" value="0"/>점
                                <input type="button" id="pointDiscount" value="적용"/>
                            </label>
                            <span>포인트 5,000점 이상이면 현금처럼 사용 가능합니다.</span>
                        </div>
                    </article>

                    <!-- 결제방법 -->
                    <article class="payment">
                            <h1>결제방법</h1>
                            <div>
                                <span>신용카드</span>
                                <p>
                                    <label><input type="radio" name="payment" value="type1" checked="checked"/>신용카드 결제</label>
                                    <label><input type="radio" name="payment" value="type2"/>체크카드 결제</label>                                
                                </p>
                            </div>
                            <div>
                                <span>계좌이체</span>
                                <p>
                                    <label><input type="radio" name="payment" value="type3"/>실시간 계좌이체</label>
                                    <label><input type="radio" name="payment" value="type4"/>무통장 입금</label>                                
                                </p>
                            </div>
                            <div>
                                <span>기타</span>
                                <p>
                                    <label><input type="radio" name="payment" value="type3"/>휴대폰결제</label>
                                    <label>
                                        <input type="radio" name="payment" value="type4"/>카카오페이
                                        <img src="../img/ico_kakaopay.gif" alt="카카오페이"/>
                                    </label>                                
                                </p>
                            </div>
                    </article>

                    <!-- 경고 -->
                    <article class="alert">
                    <ul>
                        <li><span>케이마켓의 모든 판매자는 안전거래를 위해 구매금액, 결제수단에 상관없이 모든거래에 대하여 케이마켓 유한책임회사의 구매안전서비스(에스크로)를 제공하고 있습니다.</span></li>
                        <li><span>케이마켓 유한책임회사의 전자금융거래법에 의해 결제대금예치업 등록번호는 02-006-00008 입니다.</span></li>
                        <li><span>등록여부는 금융감독원 홈페이지(www.fss.or.kr)의 업무자료>인허가업무안내>전자금융업등록현황에서 확인하실수 있습니다.</span></li>
                    </ul>
                    </article>

                </form>
            </section>
        </main>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
        <th:block th:replace="~{fragment/main_fragment::scrollToTop}"></th:block>
    </div>
</body>
</html>