<!--
    날짜: 2023/02/21
    이름: 이해빈
    내용: 상품 검색(search) html 작업
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragment/head_fragment::productHead}"></th:block>
<script th:src="@{/js/product/search.js}"></script>
<body>
<div id="wrapper">
    <th:block th:replace="~{fragment/header_fragment::mainHeader}"></th:block>
    <main id="product">
        <th:block th:replace="~{fragment/aside_fragment::productAside}"></th:block>
        
        <!-- 상품검색 화면 시작 -->
        <section class="search">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
            <h1>상품 검색 결과</h1>
            <p>
                HOME > <span>상품검색</span> > <strong id="keyword">[[${keyword}]]</strong>
            </p>
            </nav>

            <!-- 검색결과 그룹박스 -->
            <div class="group">
            <h3><strong>[[${keyword}]]</strong>검색결과 <em>(총&nbsp;:&nbsp;<span>[[${total}]]</span>&nbsp;건)</em></h3>
            <form action="/Kmarket/product/search" method="get">
                <input type="hidden" name="keyword" th:value="${keyword}"/>
                <input type="text" name="keywords" th:value="${keywords != null ? keywords : ''}"/>
                <input type="submit" value="검색"/>
                <span>
                    <label><input type="checkbox" name="chk1" th:value="true" th:checked="${chk1 == true || chk1 == '' || chk1 == null}">상품명</label>
                    <label><input type="checkbox" name="chk2" th:value="true" th:checked="${chk2 == true}">상품설명</label>
                    <label><input type="checkbox" name="chk3" th:value="true" th:checked="${chk3 == true}">상품가격</label>
                    <input type="text" name="min" th:value="${min != null ? min : 0}"/>원&nbsp;~&nbsp;<input type="text" name="max" th:value="${max != null ? max : ''}"/>원
                </span>
            </form>
            <p class="info">
                상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
                검색어는 최대 10글자까지, 여러개의 검색어를 공백으로 구분하여 입력 할수 있습니다.
            </p>
            </div>

            <!-- 정렬 메뉴 -->
            <ul class="sort">
                <li><a th:href="@{/product/search(sort=sold,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'sold'?'on':'off'}">판매많은순</a></li>
                <li><a th:href="@{/product/search(sort=lowprice,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'lowprice'?'on':'off'}">낮은가격순</a></li>
                <li><a th:href="@{/product/search(sort=highprice,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'highprice'?'on':'off'}">높은가격순</a></li>
                <li><a th:href="@{/product/search(sort=score,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'score'?'on':'off'}">평점높은순</a></li>
                <li><a th:href="@{/product/search(sort=review,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'review'?'on':'off'}">후기많은순</a></li>
                <li><a th:href="@{/product/search(sort=rdate,keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}" th:class="${sort eq 'rdate'?'on':'off'}">최근등록순</a></li>
            </ul>

            <!-- 검색목록 -->
            <table border="0">
                <tr th:each="product, i:${products}">
                    <td><a th:href="@{/product/view(cate1=${cate1},cate2=${cate2},prodNo=${product.prodNo})}" class="thumb"><img th:src="|@{/}thumb/${product.prodCate1}/${product.prodCate2}/${product.thumb1}|" alt="상품이미지"></a></td>
                    <td>
                        <h3 class="name">[[${product.prodName}]]</h3>
                        <a th:href="@{/product/view(cate1=${cate1},cate2=${cate2},prodNo=${product.prodNo})}" class="desc">[[${product.descript}]]</a>
                    </td>
                    <td>
                        <ul>
                            <li><ins class="dis-price">[[${#numbers.formatInteger((product.price * (1 - product.discount / 100.0)), 3, 'COMMA')}]]</ins></li>
                            <li>
                                <del class="org-price">[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                                <span class="discount">[[${product.discount}]]%</span>
                            </li>
                            <th:block th:if="${product.delivery eq 0}">
                                <li><span class="free-delivery">무료배송</span></li>
                            </th:block>
                            <th:block th:if="${product.delivery > 0}">
                                <li><span>배송비 </span>[[${#numbers.formatInteger(product.delivery, 1, 'COMMA')+'원'}]]</li>
                            </th:block>
                        </ul>
                    </td>
                    <td>
                        <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.seller}]]</h4>
                        <h5 class="badge power">판매자등급</h5>
                        <h6 th:class="'rating star'+${product.score}">상품평</h6>
                    </td>
                </tr>
            </table>

            <!-- 상품목록 페이지번호 -->
            <div class="paging">
                <th:block th:if="${pageGroup[0]>1}">
                        <span class="prev">
                            <a th:href="@{/product/search(sort=${sort},pg=${pageGroup[0]-1},keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}"><&nbsp;이전</a>
                        </span>
                </th:block>
                <span class="num">
                        <th:block th:each="num:${#numbers.sequence(pageGroup[0], pageGroup[1])}">
                            <a th:href="@{/product/search(sort=${sort},pg=${num},keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}"
                               th:class="${num == currentPage ? 'on':'off'}">[[${num}]]</a>
                        </th:block>
                    </span>
                <th:block th:if="${pageGroup[1]<lastPageNum}">
                        <span class="next">
                            <a th:href="@{/product/search(sort=${sort},pg=${pageGroup[1]+1},keyword=${keyword},keywords=${keywords},chk1=${chk1}, chk2=${chk2}, chk3=${chk3},min=${min},max=${max})}">다음&nbsp;></a>
                        </span>
                </th:block>
            </div>
            
        </section>
        <!-- 상품검색 화면 끝 -->

        </main>
        <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
        <th:block th:replace="~{fragment/main_fragment::scrollToTop}"></th:block>
    </div>
    </body>
</html>
