<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/index
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_header}"></th:block>
<section id="cs">
    <div class="main">
        <h1 class="title">
            <strong>케이마켓</strong>이 도와드릴게요!
        </h1>
        <section class="notice">
            <h1>공지사항<a th:href="@{/cs/notice/list}">전체보기</a></h1>
            <ul>
                <th:block th:each="vo1:${vos1}">
                <li>
                    <a th:href="@{/cs/notice/view(noCate=${vo1.noticeCate},no=${vo1.noticeNo})}" class="title">[[${vo1.noticeTitle}]]</a>
                    <span class="date" th:text="${#strings.substring(vo1.noticeRdate, 0, 8)}"></span>

                </li>
                </th:block>
            </ul>
        </section>

        <section class="faq">
            <h1>자주 묻는 질문<a th:href="@{/cs/faq/list}">전체보기</a></h1>
            <ol>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=10}"><span>회원</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=11}"><span>쿠폰/이벤트</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=12}"><span>주문/결제</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=13}"><span>배송</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=14}"><span>취소/반품/교환</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=15}"><span>여행/숙박/항공</span></a>
                </li>
                <li>
                    <a th:href="@{/cs/faq/list?csCate1=16}"><span>안전거래</span></a>
                </li>
            </ol>
        </section>

        <section class="qna">
            <h1>문의하기<a th:href="@{/cs/qna/list(cate1=10)}">전체보기</a></h1>
            <ul>
                <th:block th:each="vo2:${vos2}">
                <li>
                    <a th:href="@{/cs/qna/view(cate1=${vo2.qnaCate1},qnaNo=${vo2.qnaNo})}" class="title">[[${vo2.qnaTitle}]]</a>
                    <p>
                        <span class="uid">[[${#strings.substring(vo2.uid, 0, 4)}]]<th:block th:begin="5" end="${fn:length(vo2.uid)}" step="1">*</th:block></span>
                        <span class="date">[[${#strings.substring(vo2.qnaRdate, 0, 8)}]]</span>
                    </p>
                </li>
                </th:block>
            </ul>
            <a th:href="@{/cs/qna/write(cate1=10)}" class="ask">문의글 작성 ></a>
        </section>

        <section class="tel">
            <h1>
                1:1 상담이 필요하신가요?
            </h1>

            <article>
                <div>
                    <h3>고객센터 이용안내</h3>
                    <p>
                        <span>일반회원/비회원</span><br/>
                        <strong>1566-0001</strong><span>(평일 09:00 ~ 18:00)</span>
                    </p>
                    <p>
                        <span>스마일클럽 전용</span><br/>
                        <strong>1566-0002</strong><span>(365일 09:00 ~ 18:00)</span>
                    </p>
                </div>
            </article>

            <article>
                <div>
                    <h3>판매상담 이용안내</h3>
                    <p>
                        <span>판매고객</span><br/>
                        <strong>1566-5700</strong><span>(평일 09:00 ~ 18:00)</span>
                    </p>
                    <p>
                        <a th:href="@{/member/join}">판매자 가입 및 서류 접수 안내 〉</a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_footer}"/>