<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/faq/view.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/_header.html}"/>
<section id="cs">
    <div class="faq">
        <nav>
            <div>
                <p>홈<span>></span>자주묻는 질문</p>
            </div>
        </nav>
        <section class="view">
            <aside>
                <h2>자주묻는 질문</h2>
                <ul>
                    <li class="on"><a href="#">회원</a></li>
                    <li><a href="#">쿠폰/이벤트</a></li>
                    <li><a href="#">주문/결제</a></li>
                    <li><a href="#">배송</a></li>
                    <li><a href="#">취소/반품/교환</a></li>
                    <li><a href="#">여행/숙박/항공</a></li>
                    <li><a href="#">안전거래</a></li>
                </ul>
            </aside>
            <article>
                <nav>
                    <h2 class="title"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></h2>                
                </nav>

                <div class="content">
                    <p>
                        개인회원에서 법인회원(사업자 회원)으로 전환은 불가하므로 법인회원(사업자 회원) 전환은 신규 가입으로 진행을 해야 합니다.
                      </p>
                      <p>
                        ※ 피싱 관련 피해신고<br /><br />
                        ▶ 경찰청 사이버수사국 (국번없이)182 :
                        http://cyberbureau.police.go.kr<br />
                        ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                        http://www.krcert.or.kr<br />
                        감사합니다.<br />
                      </p>
                </div>
                <a href="./list.html" class="btnList">목록보기</a>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{/_footer.html}"/>