<!--
  날짜 : 2023/02/09
  이름 : 김재준
  내용 : company/notice
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{company/_header}"></th:block>
<main id="notice">
    <div class="cover">
        <div>
            <h1>전자공시</h1>
            <p>
                KMARKET의 공지사항을<br>
                안내해드립니다.
            </p>
        </div>
    </div>
    <section class="content">
        <img th:src="@{/img/notice_sample.png}" alt="">
    </section>
</main>
<th:block th:replace="~{company/_footer}"/>