<!--
  날짜 : 2023/02/09
  이름 : 김재준
  내용 : company/promote
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{company/_header}"></th:block>
<main id="promote">
    <div class="cover">
        <div>
            <h1>홍보채널</h1>
            <p>
                미디어 속 KMARKET의 영상을<br>
                소개해드립니다.
            </p>
        </div>
    </div>
    <section class="content">
        <article>
            <iframe width="720" height="400" src="https://www.youtube.com/embed/LQzai25zk1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>cignature - AURORA</h3>
            <p>#엠카운트다운 EP.782 | Mnet 230202 방송</p>
        </article>

        <article>
            <iframe width="720" height="400" src="https://www.youtube.com/embed/3cYjeHjWXZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>TOMORROW X TOGETHER - Devil by the Window</h3>
            <p>Comeback Stage | #엠카운트다운 EP.782 | Mnet 230202 방송</p>
        </article>

        <article>
            <iframe width="720" height="400" src="https://www.youtube.com/embed/rKTWmtwjaOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Lee Seung Yoon - Shelter Of Dreams</h3>
            <p>Comeback Stage | #엠카운트다운 EP.782 | Mnet 230202 방송</p>
        </article>

        <article>
            <iframe width="720" height="400" src="https://www.youtube.com/embed/U1WaM8s9828" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>VIVIZ - PULL UP</h3>
            <p>Comeback Stage | #엠카운트다운 EP.782 | Mnet 230202 방송</p>
        </article>

        <article>
            <iframe width="720" height="400" src="https://www.youtube.com/embed/rJ35qgf-Ky8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>RYU JIHYUN - Green Light</h3>
            <p>#엠카운트다운 EP.782 | Mnet 230202 방송</p>
        </article>
    </section>
</main>
<th:block th:replace="~{company/_footer}"/>