<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <script>
        $(document).ready(function () {
          $(".slider > ul").bxSlider({
            easing: "linear",
          });
        });

        $(function () {
          var best = $("aside > .best");

          $(window).scroll(function () {
            var t = $(this).scrollTop();

            if (t > 620) {
              best.css({
                position: "fixed",
                top: "0",
              });
            } else {
              best.css({ position: "static" });
            }
          });
        });
      </script>
</head>
<body>
<div id="wrapper">
    <th:block th:replace="~{fragment/header_fragment::mainHeader}"></th:block>
    <main>
        <!-- 카테고리/베스트 상품 영역 -->
        <th:block th:replace="~{fragment/aside_fragment::mainAside}"></th:block>
        <section>
            <!-- 슬라이더 영역 -->
            <th:block th:replace="~{fragment/main_fragment::slider}"></th:block>
            <!-- 히트 상품 영역 -->
            <th:block th:replace="~{fragment/main_fragment::hit}"></th:block>
            <!-- 추천상품 영역 -->
            <th:block th:replace="~{fragment/main_fragment::recommend}"></th:block>
            <!-- 최신상품 영역 -->
            <th:block th:replace="~{fragment/main_fragment::new}"></th:block>
            <!-- 할인상품 영역 -->
            <th:block th:replace="~{fragment/main_fragment::discount}"></th:block>
        </section>
    </main>
    <th:block th:replace="~{fragment/footer_fragment::mainFooter}"></th:block>
    <button type="button" id="top">상단이동</button>
</div>
</body>
</html>