<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 2023/02/09 // 심규영 // 관리자 메인 쇼핑몰 운형 현황 정보 -->
    <article th:fragment="mallStatus(mainStatusDTO)">
      <table>
        <tr>
          <td>
            <strong>주문건수(건)</strong>
            <span th:text="${#numbers.formatInteger(mainStatusDTO.countOrdNo, 1, 'COMMA')}">131</span>
          </td>
          <td>
            <strong>주문금액(원)</strong>
            <span th:text="${#numbers.formatInteger(mainStatusDTO.sumOrdTotPrice, 1, 'COMMA')}">1,131,000</span>
          </td>
          <td>
            <strong>회원가입(명)</strong>
            <span th:text="${#numbers.formatInteger(mainStatusDTO.countMember, 1, 'COMMA')}">1014</span>
          </td>
          <td>
            <strong>쇼핑몰 방문(명)</strong>
            <span>1014</span>
          </td>
          <td>
            <strong>신규 상품(건)</strong>
            <span th:text="${#numbers.formatInteger(mainStatusDTO.countProductRdateMonth, 1, 'COMMA')}">100</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <span>PC</span>
              <span>60</span>
            </p>
            <p>
              <span>Mobile</span>
              <span>71</span>
            </p>
          </td>
          <td>
            <p>
              <span>PC</span>
              <span>60</span>
            </p>
            <p>
              <span>Mobile</span>
              <span>71</span>
            </p>
          </td>
          <td>
            <p>
              <span>PC</span>
              <span>60</span>
            </p>
            <p>
              <span>Mobile</span>
              <span>71</span>
            </p>
          </td>
          <td>
            <p>
              <span>PC</span>
              <span>60</span>
            </p>
            <p>
              <span>Mobile</span>
              <span>71</span>
            </p>
          </td>
          <td>
            <p>
              <span>PC</span>
              <span>60</span>
            </p>
            <p>
              <span>Mobile</span>
              <span>71</span>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <span>어제</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countOrdNoDay, 1, 'COMMA')}">4</span>
            </p>
            <p>
              <span>주간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countOrdNoWeek, 1, 'COMMA')}">10</span>
            </p>
            <p>
              <span>월간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countOrdNoMonth, 1, 'COMMA')}">30</span>
            </p>
          </td>
          <td>
            <p>
              <span>어제</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.sumOrdTotPriceDay, 1, 'COMMA')}">4</span>
            </p>
            <p>
              <span>주간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.sumOrdTotPriceWeek, 1, 'COMMA')}">10</span>
            </p>
            <p>
              <span>월간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.sumOrdTotPriceMonth , 1, 'COMMA')}">30</span>
            </p>
          </td>
          <td>
            <p>
              <span>어제</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countMemberDay , 1, 'COMMA')}">4</span>
            </p>
            <p>
              <span>주간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countMemberWeek , 1, 'COMMA')}">10</span>
            </p>
            <p>
              <span>월간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countMemberMonth , 1, 'COMMA')}">30</span>
            </p>
          </td>
          <td>
            <p>
              <span>어제</span>
              <span>4</span>
            </p>
            <p>
              <span>주간</span>
              <span>10</span>
            </p>
            <p>
              <span>월간</span>
              <span>30</span>
            </p>
          </td>
          <td>
            <p>
              <span>어제</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countProductRdateDay , 1, 'COMMA')}">4</span>
            </p>
            <p>
              <span>주간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countProductRdateWeek , 1, 'COMMA')}">10</span>
            </p>
            <p>
              <span>월간</span>
              <span th:text="${#numbers.formatInteger(mainStatusDTO.countProductRdateMonth , 1, 'COMMA')}">30</span>
            </p>
          </td>
        </tr>
      </table>
    </article>

    <!-- 2023/02/09 // 심규영 // 관리자 메인 주문 업무 현황 -->
    <article th:fragment="orderStatus">
      <table>
        <tr>
          <td>
            <strong>입금대기(건)</strong>
            <span>100</span>
          </td>
          <td>
            <strong>배송준비(건)</strong>
            <span>100</span>
          </td>
          <td>
            <strong>취소요청(건)</strong>
            <span>100</span>
          </td>
          <td>
            <strong>교환요청(건)</strong>
            <span>100</span>
          </td>
          <td>
            <strong>반품요청(건)</strong>
            <span>100</span>
          </td>
        </tr>
      </table>
    </article>

    <!-- 2023/02/09 // 심규영 // 관리자 메인 공지사항 -->
    <article th:fragment="adminMainNotice(noticeVOs)">
      <th:block th:each="article:${noticeVOs}">
        <p>
          <span th:text="${article.noticeTitle}">[공지] 케이마켓 판매자님들은 주기적인 비밀번호 변경을 하세요.</span>
          <span th:text="${article.noticeRdate}">20-07-08 12:23</span>
        </p>
      </th:block>
    </article>

    <!-- 2023/02/09 // 심규영 // 관리자 메인 고객문의 -->
    <article th:fragment="adminMainQna(qnaVOs)">
      <th:block th:each="article:${qnaVOs}">
        <p>
          <span th:text="${article.qnaTitle}">[공지] 케이마켓 판매자님들은 주기적인 비밀번호 변경을 하세요.</span>
          <span th:text="${article.qnaRdate}">20-07-08 12:23</span>
        </p>
      </th:block>
    </article>

    <!-- 2023/02/09 // 심규영 // 관리자 상품 목록 -->
    <section th:fragment="adminProductList(products, paging, s, st)">
      <div>
        <select name="searchType">
          <option value="prodName" th:selected="${st} == 'prodName'">상품명</option>
          <option value="prodNo" th:selected="${st} == 'prodNo'">상품코드</option>
          <option value="company" th:selected="${st} == 'company'">제조사</option>
          <option value="seller" th:selected="${st} == 'seller'">판매자</option>
        </select>
        <input type="text" name="search" th:value="${s}">
        <input type="button" name="btnSearch" value="검색" style="
	                float: revert;
					text-indent: 0;
					margin-top: 0;
					margin-left: 5px;
				">
      </div>
      <table>
        <tr>
          <th><input type="checkbox" name="all" id="cbx_chkAll"></th>
          <th>이미지</th>
          <th>상품코드</th>
          <th>상품명</th>
          <th>판매가격</th>
          <th>할인율</th>
          <th>포인트</th>
          <th>재고</th>
          <th>판매자</th>
          <th>조회</th>
          <th>관리</th>
        </tr>
        <tr th:each="product:${products}">
          <td><input type="checkbox" name="상품코드"></td>
          <td><img th:src="|@{/}thumb/${product.prodCate1}/${product.prodCate2}/${product.thumb1}|" class="thumb"></td>
          <td th:text="${product.prodNo}">201603292</td>
          <td th:text="${product.prodName}">FreeMovement BLUEFORCE</td>
          <td th:text="${#numbers.formatInteger(product.price, 1, 'COMMA') + '원'}">36,000</td>
          <td th:text="${product.discount + '%'}">10</td>
          <td th:text="${#numbers.formatInteger(product.point, 1, 'COMMA') + '점'}">360</td>
          <td th:text="${#numbers.formatInteger(product.stock, 1, 'COMMA') + '개'}">400</td>
          <td th:text="${product.seller}">홍길동</td>
          <td th:text="${#numbers.formatInteger(product.hit, 1, 'COMMA')}">126</td>
          <td>
            <a href="#" class="deleteProduct">[삭제]</a>
            <a href="#" class="modifyProduct">[수정]</a>
          </td>
        </tr>
      </table>

      <input type="button" id="deleteAll" value="선택삭제">

      <div class="paging">
        <span th:if="${paging.groupStart gt 1}" class="prev">
            <a th:href="|@{/}admin/product/list/${paging.groupStart-1}/?s=${s}&st=${st}|"><&nbsp;이전</a>
        </span>

        <span class="num">
          <th:block th:each="i:${#numbers.sequence(paging.groupStart, paging.groupEnd)}">
            <a th:href="|@{/}admin/product/list/${i}/?s=${s}&st=${st}|" th:classappend="${paging.currentPage eq i ? 'on' : ''}" th:text="${i}"></a>
          </th:block>
        </span>

        <span th:if="${paging.groupEnd lt paging.lastPage}" class="next">
            <a th:href="|@{/}admin/product/list/${paging.groupEnd+1}/?s=${s}&st=${st}|">다음&nbsp;></a>
        </span>
      </div>

    </section>

    <!-- 2023/02/09 // 심규영 // 관리자 상품 등록 폼 -->
    <form th:action="@{/admin/product/register}" method="POST" enctype="multipart/form-data" th:fragment="adminRegisterForm(cate1s)">

      <!-- 상품 분류 -->
      <section>
        <h4>상품분류</h4>
        <p>
          기본분류는 반드시 선택하셔야 합니다. 하나의 상품에 1개의 분류를 지정 합니다.
        </p>
        <table>
          <tr>
            <td>1차 분류</td>
            <td>
              <select name="prodCate1">
                <option value="">1차 분류 선택</option>
                <th:block th:each="cate1:${cate1s}">
                  <option th:value="${cate1.cate1}" th:text="${cate1.c1Name}">패션·의류·뷰티</option>
                </th:block>
              </select>
            </td>
          </tr>
          <tr>
            <td>2차 분류</td>
            <td>
              <select name="prodCate2">
                <option value="cate0">2차 분류 선택</option>
              </select>
            </td>
          </tr>
        </table>
      </section>

      <!-- 기본 정보 -->
      <section>
        <h4>기본정보</h4>
        <p>
          기본정보는 반드시 입력해야 합니다.
        </p>
        <table>
          <tr>
            <td>상품명</td>
            <td>
              <input type="text" name="prodName" maxlength="100" required>
            </td>
          </tr>
          <tr>
            <td>기본설명</td>
            <td>
              <span>상품명 하단에 상품에 대한 추가적인 설명이 필요한 경우에 입력</span>
              <input type="text" name="descript" maxlength="100" required>
            </td>
          </tr>
          <tr>
            <td>제조사</td>
            <td>
              <input type="text" name="company" maxlength="100" required>
            </td>
          </tr>
          <tr>
            <td>판매가격</td>
            <td>
              <input type="text" name="price" maxlength="11" required>원
              &nbsp;&nbsp;<span class="priceResult"></span>
            </td>
          </tr>
          <tr>
            <td>할인율</td>
            <td>
              <span>0을 입력하면 할인율 없음</span>
              <input type="text" name="discount" maxlength="2" required>%
              &nbsp;&nbsp;<span class="discountResult"></span>
            </td>
          </tr>
          <tr>
            <td>재고수량</td>
            <td>
              <input type="text" name="stock" maxlength="11" required>개
              &nbsp;&nbsp;<span class="stockResult"></span>
            </td>
          </tr>
          <tr>
            <td>배송비</td>
            <td>
              <span>0을 입력하면 배송비 무료</span>
              <input type="text" name="delivery" maxlength="11" required>원
              &nbsp;&nbsp;<span class="deliveryResult"></span>
            </td>
          </tr>
          <tr>
            <td>상품 썸네일</td>
            <td>
              <span>크기 190 x 190, 상품 목록에 출력될 이미지 입니다.</span>
              <input type="file" name="thumb1File" required>

              <span>크기 230 x 230, 상품 목록에 출력될 이미지 입니다.</span>
              <input type="file" name="thumb2File" required>

              <span>크기 456 x 456, 상품 목록에 출력될 이미지 입니다.</span>
              <input type="file" name="thumb3File" required>
            </td>
          </tr>
          <tr>
            <td>상세 상품정보</td>
            <td>
              <span>크기 가로 940px 높이 제약없음, 크기 최대 1MB, 상세페이지 상품정보에 출력될 이미지 입니다.</span>
              <input type="file" name="detailFile" required>
            </td>
          </tr>
        </table>
      </section>

      <!-- 상품정보 제공 고시 -->
      <section>
        <h4>상품정보 제공고시</h4>
        <p>
          [전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록해야 되는 정보입니다.
        </p>
        <table>
          <tr>
            <td>상품상태</td>
            <td><input type="text" name="status" value="새상품" maxlength="20" required></td>
          </tr>
          <tr>
            <td>부가세 면세여부</td>
            <td><input type="text" name="duty" value="과세상품" maxlength="20" required></td>
          </tr>
          <tr>
            <td>영수증발행</td>
            <td><input type="text" name="receipt" value="발행가능 - 신용카드 전표, 온라인 현금영수증" maxlength="50" required></td>
          </tr>
          <tr>
            <td>사업자구분</td>
            <td><input type="text" name="bizType" value="사업자 판매자" maxlength="20" required></td>
          </tr>
          <tr>
            <td>원산지</td>
            <td><input type="text" name="origin" value="국내산" maxlength="20" required></td>
          </tr>
        </table>
      </section>

      <input type="submit" value="등록하기">
    </form>
</body>
</html>