<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!--
    날짜 : 2023/02/08
    이름 : 심규영
    내용 : 메인 사이드
    필요한 값 => 각 카테고리 테이블 전체 값
      List<productCate1VO> cate1s, List<productCate2VO> cate2s
      베스트 상품 상위 5개 값
   -->
  <aside th:fragment="mainAside(cate1s, cate2s, bests)">
    <!-- 카테고리 -->
    <!-- 2023/02/10 // 심규영 // 카테고리 불러오기
      필요한 값 => 각 카테고리 테이블 전체 값
      List<productCate1VO> cate1s, List<productCate2VO> cate2s
    -->
    <ul class="category">
      <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
      <li th:each="cate1:${cate1s}">

        <a th:href="@{/product/list(cate1=${cate1.cate1},sort=sold)}">
        <th:block th:switch="${cate1.cate1}">
          <th:block th:case="10"><i class="fas fa-shopping-bag"></i></th:block>
          <th:block th:case="11"><i class="fas fa-tshirt"></i></th:block>
          <th:block th:case="12"><i class="fas fa-baby-carriage"></i></th:block>
          <th:block th:case="13"><i class="fas fa-utensils"></i></th:block>
          <th:block th:case="14"><i class="fas fa-home"></i></th:block>
          <th:block th:case="15"><i class="fas fa-tv"></i></i></th:block>
          <th:block th:case="16"><i class="fas fa-running"></i></th:block>
          <th:block th:case="17"><i class="fas fa-car"></i></th:block>
          <th:block th:case="18"><i class="fas fa-book"></i></th:block>
        </th:block>
        [[${cate1.c1Name}]]<i class="fas fa-angle-right"></i></a>

        <ol>
          <th:block th:each="cate2:${cate2s}">
          <li th:if="${cate2.cate1 eq cate1.cate1}"><a th:href="|@{/product/list(cate1=${cate1.cate1},cate2=${cate2.cate2},sort=sold)}|">[[${cate2.c2Name}]]</a></li>
          </th:block>
        </ol>
      </li>
    </ul>

    <!-- 베스트상품 배너 -->
    <article class="best">
      <h1><i class="fas fa-crown"></i>베스트상품</h1>
      <ol>
        <li th:each="best:${bests}">
          <a th:href="@{/product/view(cate1 = ${best.prodCate1}, cate2 = ${best.prodCate2}, prodNo = ${best.prodNo})}">
            <div class="thumb">
              <i th:text="${bestStat.count}">1</i>
              <img th:src="|@{/}thumb/${best.prodCate1}/${best.prodCate2}/${best.thumb1}|" alt="item1">
            </div>
            <h2 th:text="${best.prodName}">상품명</h2>
            <div class="org_price" th:if="${best.discount gt 0}">
              <del th:text="${#numbers.formatInteger(best.price, 1, 'COMMA')}">30,000</del>
              <span th:text="${best.discount + '%'}">10%</span>
            </div>
            <div class="dis_price">
              <ins th:text="${#numbers.formatInteger(best.disPrice, 1, 'COMMA')}">27,000</ins>
            </div>
          </a>
        </li>
      </ol>
    </article>
  </aside>

  <!--
    날짜 : 2023/02/09
    이름 : 심규영
    내용 : 관리자 사이드 메뉴 조각
  -->
  <aside th:fragment="adminAside">
    <!--  -->
    <ul id="gnb">
      <li>
        <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>환경설정</a>
        <ol>
          <li><a href="#">기본환경설정</a></li>
          <li><a th:href="@{/admin/config/banner}">배너관리</a></li>
        </ol>
      </li>
      <li>
        <a href="#"><i class="fa fa-store" aria-hidden="true"></i>상점관리</a>
        <ol>
          <li><a href="#">판매자현황</a></li>
          <li><a href="#">재고관리</a></li>
        </ol>
      </li>
      <li>
        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>회원관리</a>
        <ol>
          <li><a href="#">회원현황</a></li>
          <li><a href="#">포인트관리</a></li>
          <li><a href="#">비회원관리</a></li>
          <li><a href="#">접속자집계</a></li>
        </ol>
      </li>
      <li>
        <a href="#"><i class="fa fa-box-open" aria-hidden="true"></i>상품관리</a>
        <ol>
          <li><a th:href="@{/admin/product/list/1/}">상품현황</a></li>
          <li><a th:href="@{/admin/product/register}">상품등록</a></li>
          <li><a href="#">재고관리</a></li>
        </ol>
      </li>
      <li>
        <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>주문관리</a>
        <ol>
          <li><a href="#">주문현황</a></li>
          <li><a href="#">매출현황</a></li>
          <li><a href="#">결제관리</a></li>
          <li><a href="#">배송관리</a></li>
        </ol>
      </li>
      <li sec:authorize="hasRole('5')">
        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>게시판관리</a>
        <ol>
          <li><a th:href="@{/admin/cs/faq/list}">자주묻는질문</a></li>
          <li><a th:href="@{/admin/cs/qna/list}">문의사항</a></li>
          <li><a th:href="@{/admin/cs/notice/list}">공지사항</a></li>
        </ol>
      </li>
    </ul>
  </aside>

  <!--
    날짜 : 2023/02/09
    이름 : 이해빈
    내용 : 상품 aside 메뉴 조각
    -->
  <aside th:fragment="productAside">
    <ul class="category">
      <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
      <li>
        <a th:href="@{/product/list(cate1=10,sort=sold)}"><i class="fas fa-shopping-bag"></i>브랜드 패션<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=10,cate2=10,sort=sold)}">브랜드 여성의류</a></li>
          <li><a th:href="@{/product/list(cate1=10,cate2=11,sort=sold)}">브랜드 남성의류</a></li>
          <li><a th:href="@{/product/list(cate1=10,cate2=12,sort=sold)}">브랜드 진/캐쥬얼</a></li>
          <li><a th:href="@{/product/list(cate1=10,cate2=13,sort=sold)}">브랜드 신발/가방</a></li>
          <li><a th:href="@{/product/list(cate1=10,cate2=14,sort=sold)}">브랜드 쥬얼리/시계</a></li>
          <li><a th:href="@{/product/list(cate1=10,cate2=15,sort=sold)}">브랜드 아웃도어</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=11,sort=sold)}"><i class="fas fa-tshirt"></i>패션의류·잡화·뷰티<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=11,cate2=10,sort=sold)}">여성의류</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=11,sort=sold)}">남성의류</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=12,sort=sold)}">언더웨어</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=13,sort=sold)}">신발</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=14,sort=sold)}">가방/잡화</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=15,sort=sold)}">쥬얼리/시계</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=16,sort=sold)}">화장품/향수</a></li>
          <li><a th:href="@{/product/list(cate1=11,cate2=17,sort=sold)}">바디/헤어</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=12,sort=sold)}"><i class="fas fa-baby-carriage" aria-hidden="true"></i>유아동<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=12,cate2=10,sort=sold)}">출산/육아</a></li>
          <li><a th:href="@{/product/list(cate1=12,cate2=11,sort=sold)}">장난감/완구</a></li>
          <li><a th:href="@{/product/list(cate1=12,cate2=12,sort=sold)}">유아동 의류</a></li>
          <li><a th:href="@{/product/list(cate1=12,cate2=13,sort=sold)}">유아동 신발/잡화</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=13,sort=sold)}"><i class="fas fa-utensils"></i>식품·생필품<i class="fas fa-angle-right" ></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=13,cate2=10,sort=sold)}">신선식품</a></li>
          <li><a th:href="@{/product/list(cate1=13,cate2=11,sort=sold)}">가공식품</a></li>
          <li><a th:href="@{/product/list(cate1=13,cate2=12,sort=sold)}">건강식품</a></li>
          <li><a th:href="@{/product/list(cate1=13,cate2=13,sort=sold)}">커피/음료</a></li>
          <li><a th:href="@{/product/list(cate1=13,cate2=14,sort=sold)}">생필품</a></li>
          <li><a th:href="@{/product/list(cate1=13,cate2=15,sort=sold)}">바디/헤어</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=14,sort=sold)}"><i class="fas fa-home"></i>홈데코·문구·취미·반려<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=14,cate2=10,sort=sold)}">가구/DIY</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=11,sort=sold)}">침구/커튼</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=12,sort=sold)}">조명/인테리어</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=13,sort=sold)}">생활용품</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=14,sort=sold)}">주방용품</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=15,sort=sold)}">문구/사무용품</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=16,sort=sold)}">사무기기</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=17,sort=sold)}">악기/취미</a></li>
          <li><a th:href="@{/product/list(cate1=14,cate2=18,sort=sold)}">반려동물용품</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=15,sort=sold)}"><i class="fas fa-tv"></i>컴퓨터·디지털·가전<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=15,cate2=10,sort=sold)}">노트북/PC</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=11,sort=sold)}">모니터/프린터</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=12,sort=sold)}">PC주변기기</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=13,sort=sold)}">모바일/태블릿</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=14,sort=sold)}">카메라</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=15,sort=sold)}">게임</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=16,sort=sold)}">영상가전</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=17,sort=sold)}">주방가전</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=18,sort=sold)}">계절가전</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=19,sort=sold)}">생활/미용가전</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=20,sort=sold)}">음향가전</a></li>
          <li><a th:href="@{/product/list(cate1=15,cate2=21,sort=sold)}">건강가전</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=16,sort=sold)}"><i class="fas fa-running"></i>스포츠·건강·렌탈<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=16,cate2=10,sort=sold)}">스포츠의류/운동화</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=11,sort=sold)}">휘트니스/수영</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=12,sort=sold)}">구기/라켓</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=13,sort=sold)}">골프</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=14,sort=sold)}">자전거/보드/기타레저</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=15,sort=sold)}">캠핑/낚시</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=16,sort=sold)}">등산/아웃도어</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=17,sort=sold)}">건강/의료용품</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=18,sort=sold)}">건강식품</a></li>
          <li><a th:href="@{/product/list(cate1=16,cate2=19,sort=sold)}">렌탈서비스</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=17,sort=sold)}"><i class="fas fa-car"></i>자동차·공구<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=17,cate2=10,sort=sold)}">자동차용품</a></li>
          <li><a th:href="@{/product/list(cate1=17,cate2=11,sort=sold)}">공구/안전/산업용품</a></li>
        </ol>
      </li>
      <li>
        <a th:href="@{/product/list(cate1=18,sort=sold)}"><i class="fas fa-book"></i>여행·도서·티켓·e쿠폰<i class="fas fa-angle-right"></i></a>
        <ol>
          <li><a th:href="@{/product/list(cate1=18,cate2=10,sort=sold)}">여행/항공권</a></li>
          <li><a th:href="@{/product/list(cate1=18,cate2=11,sort=sold)}">도서/음반/e교육</a></li>
          <li><a th:href="@{/product/list(cate1=18,cate2=12,sort=sold)}">공연티켓</a></li>
          <li><a th:href="@{/product/list(cate1=18,cate2=13,sort=sold)}">e쿠폰</a></li>
          <li><a th:href="@{/product/list(cate1=18,cate2=14,sort=sold)}">상품권</a></li>
        </ol>
      </li>
    </ul>
  </aside>

</body>
</html>