<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="mainHeader">
        <div class="top">
            <div>
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
                <a href="#">마이페이지</a>
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    &nbsp;장바구니
                </a>
            </div>
        </div>
        <div class="logo">
            <div>
                <a href="#"><img src="./img/header_logo.png" alt="로고"></a>
                <form action="#">
                    <input type="text" name="search">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="#">히트상품</a></li>
                    <li><a href="#">추천상품</a></li>
                    <li><a href="#">최신상품</a></li>
                    <li><a href="#">인기상품</a></li>
                    <li><a href="#">할인상품</a></li>
                </ul>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자주묻는질문</a></li>
                    <li><a href="#">문의하기</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>