<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 메인 index 헤더 -->
    <header th:fragment="mainHeader">
        <div class="top">
            <div>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a sec:authorize="hasAnyRole('ROLE_5','ROLE_2')" th:href="@{/admin/index}">관리자</a>
                    <a th:href="@{/my/home?cate=1}">마이페이지</a>
                    <a th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/product/cart}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        &nbsp;장바구니
                    </a>
                </th:block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/index}"><img th:src="@{/img/header_logo.png}" alt="로고"></a>
                <form th:action="@{/product/search}">
                    <input type="text" name="keyword" th:value="${keyword != null ? keyword : ''}">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="#">히트상품</a></li>
                    <li><a href="#">추천상품</a></li>
                    <li><a href="#">최신상품</a></li>
                    <li><a href="#">인기상품</a></li>
                    <li><a href="#">할인상품</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
                    <li><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
                    <li><a th:href="@{/cs/qna/list}">문의하기</a></li>
                    <li><a th:href="@{/cs/index}">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- 2023/02/09 // 심규영 // 관리자 헤더 -->
    <header th:fragment="adminHeader">
        <div>
            <a th:href="@{/admin/index}" class="logo">
                <img th:src="@{/img/admin_logo.png}" alt="admin_logo">
            </a>
            <p>
                <span>[[${name}]]님 반갑습니다.</span>
                <a th:href="@{/index}">HOME |</a>
                <a th:href="@{/member/logout}">로그아웃 |</a>
                <a th:href="@{/cs/index}">고객센터</a>
            </p>
        </div>
    </header>

    <!-- 2023/02/24 // 심규영 // 마이페이지 헤더 설정 추가 -->
    <header th:fragment="myHeader">
        <div class="top">
            <div>
                <a sec:authorize="hasAnyRole('ROLE_5','ROLE_2')" th:href="@{/admin/index}">관리자</a>
                <a th:href="@{/my/home?cate=1}">마이페이지</a>
                <a th:href="@{/member/logout}">로그아웃</a>
                <a th:href="@{/product/cart}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    &nbsp;장바구니
                </a>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/index}"><img th:src="@{/img/header_logo.png}" alt="로고"/></a>
                <form th:action="@{/product/search}">
                    <input type="text" name="keyword" th:value="${keyword != null ? keyword : ''}">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
</body>
</html>