<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 기본 헤드 부분 -->
    <th:block th:fragment="basicHead">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </th:block>

    <!-- 메인 추가 헤드 부분-->
    <th:block th:fragment="mainHead">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <link rel="stylesheet" href="./css/common.css">
        <script>
            $(document).ready(function () {
              $(".slider > ul").bxSlider({
                easing: "linear",
              });
            });

            $(function () {
              var best = $("aside > .best");

              $(window).scroll(function () {
                var t = $(this).scrollTop();

                if (t > 620) {
                  best.css({
                    position: "fixed",
                    top: "0",
                  });
                } else {
                  best.css({ position: "static" });
                }
              });
            });
        </script>
    </th:block>

    <!-- 2023/02/09 // 심규영 // 관리자 추가 헤드 부분 -->
    <th:block th:fragment="adminHead">
        <title>케이마켓::관리자</title>
        <script th:src="@{/js/gnb.js}"></script>
        <script th:src="@{/js/admin/check.js}"></script>
        <script th:src="@{/js/admin/cs/category.js}"></script>
        <link rel="stylesheet" th:href="@{/css/admin.css}">
    </th:block>

</head>

<!-- 2023/02/09 // 이해빈 // 상품 Head -->
<head th:fragment="productHead">
    <meta charset="UTF-8">
    <title>케이마켓::대한민국 1등 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
</head>

<head th:fragment="termsPolicyHead">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${typeName}]]</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/termsPolicy.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>



<body>

</body>
</html>