<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 2023/02/20 // 심규영 // 마이페이지 중복 처리, 사이드 메뉴 -->
    <ul th:fragment="menu_else">
        <span class="menu_else"></span>
        <li th:class="${cate == '7' ? 'on':''}"><a th:href="@{/my/ordered?cate=7}">전체주문내역</a></li>
        <!--<li><a href="#">관심상품</a></li>-->
        <li th:class="${cate == '2' ? 'on':''}"><a th:href="@{/my/point?cate=2}">포인트내역</a></li>
        <li th:class="${cate == '3' ? 'on':''}"><a th:href="@{/my/coupon?cate=3}">쿠폰</a></li>
        <li th:class="${cate == '4' ? 'on':''}"><a th:href="@{/my/qna?cate=4}">문의하기</a></li>
        <li th:class="${cate == '5' ? 'on':''}"><a th:href="@{/my/review?cate=5}">나의리뷰</a></li>
        <li th:class="${cate == '6' ? 'on':''}"><a th:href="@{/my/info?cate=6}">나의설정</a></li>
    </ul>

    <!-- 2023/02/20 // 심규영 // 마이페이지 중복 처리, nav 메뉴 -->
    <nav th:fragment="my_nav">
        <!--<script th:src="@{/js/my/my_nav.js}"></script>-->
        <div>
            <a th:href="@{/my/home}"><img th:src="@{/img/my_logo.jpg}" alt="나의쇼핑정보"></a>

            <ol>
                <li><a href="#">주문·배송<span class="delivery">1</span></a></li>
                <li><a href="#">할인쿠폰<span class="coupon">1</span></a></li>
                <li><a href="#">포인트<span class="point">1,000</span></a></li>
                <li><a href="#">문의내역<span class="qna">1</span></a></li>
            </ol>

        </div>
    </nav>
</body>
</html>