<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 2023/02/09 // 심규영 // 관리자 페이징 -->
    <div class="paging" th:fragment="adminPaging">
      <span class="prev">
          <a href="#"><&nbsp;이전</a>
      </span>

      <span class="num">
          <a href="#" class="on">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
      </span>

      <span class="next">
          <a href="#">다음&nbsp;></a>
      </span>
    </div>
</body>
</html>
