<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/faq/list.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_cs_header}"></th:block>
<section id="cs">
    <div class="faq">
        <nav>
            <div>
                <p>홈<span>></span>자주묻는 질문</p>
            </div>
        </nav>
        <section class="list">
            <aside>
                <h2>자주묻는 질문</h2>
                <ul th:each="vo1:${vos1}">
                    <li th:classappend="${vo1.cate1} == ${csCate1} ? 'on' : 'off'"><a th:href="@{/cs/faq/list(csCate1=${vo1.cate1})}">[[${vo1.cate1Name}]]</a></li>
                </ul>
            </aside>
            <article>
                <nav>
                    <th:block th:each="vo1:${vos1}">
                        <th:block th:if="${vo1.cate1} == ${csCate1}">
                            <h1 th:text="${vo1.cate1Name}"></h1>
                        </th:block>
                    </th:block>
                    <h2>가장 자주 묻는 질문입니다.</h2>
                </nav>

                <th:block th:each="vo2:${vos2}">
                <div>
                    <h3>[[${vo2.cate2Name}]]</h3>
                    <th:block th:with="count = 0">
                    <ul>
                        <th:block th:each="vo:${vos}">
                            <th:block th:if="${vo.faqCate2} == ${vo2.cate2}">
                                <th:block th:with="count = ${count} + 1">
                                    <li th:classappend="${count} > 3 ? 'hide' : ''"><a th:href="@{/cs/faq/view(faqNo=${vo.faqNo})}"><span>Q.</span>[[${vo.faqTitle}]]</a></li>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:if="${count} == 0">
                            <li><a>등록된 게시물이 없습니다.</a></li>
                        </th:block>
                        <li class="more" onclick="moreView(this)"><a href="#">더보기</a></li>
                    </ul>
                    </th:block>
                </div>
                </th:block>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_cs_footer}"/>