<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/faq/list.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_cs_header}"></th:block>
<script th:src="@{/js/cs/faqList.js}"></script>
<section id="cs">
    <div class="faq">
        <nav>
            <div>
                <p>홈<span>></span>자주묻는 질문</p>
            </div>
        </nav>
        <section class="list">
            <aside>
                <h2>자주묻는 질문</h2>
                <th:block th:each="vo2:${vos2}">
                <ul>
                    <li th:classappend="${vo2.cate1} == ${csCate1} ? 'on' : 'off'"><a th:href="@{/cs/faq/list(csCate1=${vo2.cate1})}">[[${vo2.cate1Name}]]</a></li>
                </ul>
                </th:block>
            </aside>
            <article>
                <nav>
                    <th:block th:each="vo2:${vos2}">
                        <th:block th:if="${vo2.cate1} == ${csCate1}">
                            <h1 th:text="${vo2.cate1Name}"></h1>
                        </th:block>
                    </th:block>
                    <h2>가장 자주 묻는 질문입니다.</h2>
                </nav>

                <th:block th:each="vo3:${vos3}">
                    <div>
                        <h3>[[${vo3.cate2Name}]]</h3>
                            <ul>
                                <th:block th:each="vo, voStat : ${vos}">
                                    <th:block th:if="${vo.faqCate2 eq vo3.cate2} and ${vo.faqCate1 eq vo3.cate1}">
                                        <th:block th:with="count=${voStat.count + 1}">
                                            <li th:classappend="${count > 3} ? 'hide' : ''"><a th:href="@{/cs/faq/view(faqNo=${vo.faqNo},faqCate1=${vo.faqCate1})}"><span>Q.</span>[[${vo.faqTitle}]]</a></li>
                                        </th:block>
                                    </th:block>
                                    <li th:if="${count == 0}"><a>등록된 게시물이 없습니다.</a></li>
                                </th:block>
                                <li class="more" onclick="moreView(this)"><a href="#">더보기</a></li>
                            </ul>
                    </div>
                </th:block>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_cs_footer}"/>