<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/qna/list.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_cs_header}"></th:block>
<section id="cs">
    <div class="qna">
        <nav>
            <div>
                <p>홈<span>></span>문의하기</p>
            </div>
        </nav>
        <section class="list">
            <aside>
                <h2>문의하기</h2>
                <ul>
                    <li th:classappend="${cate1} == '10' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=10}">회원</a></li>
                    <li th:classappend="${cate1} == '11' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=11}">쿠폰/이벤트</a></li>
                    <li th:classappend="${cate1} == '12' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=12}">주문/결제</a></li>
                    <li th:classappend="${cate1} == '13' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=13}">배송</a></li>
                    <li th:classappend="${cate1} == '14' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=14}">취소/반품/교환</a></li>
                    <li th:classappend="${cate1} == '15' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=15}">여행/숙박/항공</a></li>
                    <li th:classappend="${cate1} == '16' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=16}">안전거래</a></li>
                </ul>
            </aside>
            <article>
                <nav>
                    <h1 th:text="${vos.cate1Name}"></h1>
                    <h2>[[${vos.cate1Name}]]관련 문의 내용입니다.</h2>
                </nav>
                <table>
                  <tr th:each="arts:${QnaArts}">
                    <td><a th:href="@{/cs/qna/view(cate1=${cate1},qnaNo=${arts.qnaNo})}" th:text="${'['+arts.cate2Name+'] '+arts.qnaTitle}"></a></td>
                    <td th:if="${arts.qnaType == 1}" style="color:#707070;">검토중</td>
                    <td th:unless="${arts.qnaType == 1}" style="color:#007bff;">답변완료</td>
                    <td>[[${(arts.uid).substring(0, 4)}]]***</td>
                    <td>[[${arts.qnaRdate}]]</td>
                  </tr>
                  <tr th:if="${QnaArts.size() == 0}">
                    <td colspan="4">문의글이 없습니다.</td>
                  </tr>
                </table>

                <section th:replace="~{fragment/paging_fragment::csPaging}"></section>

                <a th:href="@{/cs/qna/write(cate1=${cate1})}" class="btnWrite">문의하기</a>

            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_cs_footer}"/>