<!--
  날짜 : 2023/02/07
  이름 : 김재준
  내용 : cs/qna/view.html
-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{cs/_cs_header}"></th:block>
<section id="cs">
    <div class="qna">
        <nav>
            <div>
                <p>홈<span>></span>문의하기</p>
            </div>
        </nav>
        <section class="view">
            <aside>
                <h2>문의하기</h2>
                <ul>
                    <li th:classappend="${cate1} == '10' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=10}">회원</a></li>
                    <li th:classappend="${cate1} == '11' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=11}">쿠폰/이벤트</a></li>
                    <li th:classappend="${cate1} == '12' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=12}">주문/결제</a></li>
                    <li th:classappend="${cate1} == '13' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=13}">배송</a></li>
                    <li th:classappend="${cate1} == '14' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=14}">취소/반품/교환</a></li>
                    <li th:classappend="${cate1} == '15' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=15}">여행/숙박/항공</a></li>
                    <li th:classappend="${cate1} == '16' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=16}">안전거래</a></li>
                </ul>
            </aside>
            <article>
                <nav>
                    <h2 class="title" th:text="${'['+vo?.cate2Name+'] '+vo.qnaTitle}"></h2>
                    <p>
                        <span>[[${(vo.uid).substring(0, 4)}]]***</span>
                        <span>[[${vo.qnaRdate}]]</span>
                    </p>
                </nav>

                <div class="content">
                    <p>
                        [[${vo.qnaContent}]]
                    </p>
                        <br><br><br>
                        <th:block th:if="${vo.qnaAdminContent != null}">
                            <h2 class="answerTitle" style="font-weight:bold; border-top: 1px solid #e9e9e9;">[답변] [[${vo.qnaTitle}]]</h2><br>
                            <div class="qnaAnswer">
                                <span>[[${vo.qnaAdminContent}]]</span>
                                <br><br>
                                <p style="border-top: 1px solid #e9e9e9;">
                                    ※ 피싱 관련 피해신고<br /><br />
                                    ▶ 경찰청 사이버수사국 (국번없이)182 :
                                    http://cyberbureau.police.go.kr<br />
                                    ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                                    http://www.krcert.or.kr<br />
                                    감사합니다.<br />
                                </p>
                            </div>
                        </th:block>
                </div>
                <a th:href="@{/cs/qna/list(cate1=${cate1})}" class="btnList">목록보기</a>
            </article>
        </section>
    </div>
</section>
<th:block th:replace="~{cs/_cs_footer}"/>